@charset "UTF-8";

	/*수업듣고 header section footer 다 나눠줘야 한다.*/
	/*레이아웃 구분선 완성 후 지우기*/
		main, aside, section, article, header, footer{
			border:1px dotted black;
		}
		
		/* 리셋 스타일 */
		html, body{
			margin:0;
			padding:0;
		}
		
		main {
			width:1200px;
			margin:auto;
		}
		main::after {
			content:"";
			display:block;
			clear: both;
		}
		aside {
			float:left;
			width:20%;
			min-height:500px;
		}
		section {
			float:left;
			width:80%;
			min-height:500px;
		}
		
		header {
			min-height: 100px;
		}
		article {
			min-height:500px;
		}
		footer {
			min-height:100px;
		}
